@media screen and (max-width: 514px) {
    /*------ accueil ------*/

    /* header  */
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    .home_return{
        top: 0;
    }
    #author_name{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    #author_name h1{
        width: 198px;
        height: 99px;
        margin-bottom: 10px;
    }
    #author_name h2{
        font-size: 1em;
    }
    #connect{
        font-size: 10px;
        width: 85px;
        margin-left: auto;
        top: 0px;
        right: 1px;
    }
    #connect::before {
        right: 56px;
        top: 4px;
        left: unset;
    }
    #connect a{
        padding: 0px 6px;
        height: 24px
    }
    #connect::after {
        right: 3px;
        top: 41px;
    }

    /* logo */
    #logo{
        width: 137px;
        height: 137px;
        margin: auto;
        float: none;
    }
    #feather{
        width: 54px;
        margin-left: 9px;
        border-radius: 24px;
        margin-top: 19px;
    }
    #keyboard{
        margin-left: 64px;
        width: 54px;
        border-radius: 24px;
        margin-top: -25px;
    }

    footer p{
    font-size: 0.6em;    
    }
    .title_chapter h1{
        font-size: 0.9em;
    }

    /* title book */
    .block_title{
        width: 70%;
    }
    #title_book {
        font-size: 1.2em;
        align-items: center;
        padding: 0;
    }

    .icon_iceberg img{
        height: 61px;
    }
    .block_infos{
        width: 70%;
        padding: 0;
        margin: auto;
    }
    .block_infos h1{
        font-size: 1.2em;
        margin-top: 16%;
    }
    .infos_mdp {
        margin-top: 0;
    }
    /*------- postView -------*/

    #block_chapter {
        padding: 8% 10% 7% 10%;
    }
    #form_section p {
        font-size: 1.4em;
        padding: 3%;
    }
    .border_bottom{
        margin : none;
        border: none;
        width: 100%;
    }
    #comment_block{
        margin: auto;
        border-bottom: 1px solid #a4a7a994;
        width: 75%;
        flex-direction: column;
        align-items: baseline;
    }

    .report{
        margin-top: -11px;
        margin-bottom: 10px;
    }

    /* loginAdmin */
    #login_admin h1{
        width: fit-content;
    }
    #login_admin form{
        padding: 12px;
        width: fit-content;
    }
    /* --------------- BACKEND ------------------- */
    /*--------- header --------*/

    .block_btn {
        top: 0;
        position: absolute;
        right: 0;
    }
    /* homeAdmin */
    #chapters_list {
        column-count: 1;
        padding: 6% 4%;
    }
    .block_chapter{
        text-align: center;
    }
    .title_post{
        margin: auto;
        width: 100%;
    }
    .title_post p {
        margin: auto;
        width: 76px;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 11px;
    }
    .title_post a {
        font-size: 20px;
        width: 57%;
        margin-left: 5px;
    }
    .btn_modify {
        margin-right: 0px;
        font-size: 11px;
    }

    .block_comment{
        display: flex;
        flex-direction: column-reverse;
    }
    .comment{
        margin-top: 0px;
    }
    #block_delete{
        padding: 0px 5px;
        width: fit-content;
        border: 1px solid;
        border-radius: 3px;
        align-items: center;
        margin-bottom: 5px;
        display: flex;
        background: black;
        margin-left: auto;
    }
    #block_delete img{
        height: 27px;
    }
    .icon_delete span{
        position: relative;
        opacity: 1;
        transform: none;
        margin-left: 0;
        margin-top: 0;
    }
    /* postAdmin */
    .input_bottom input{
        padding: 6px 16px;
        font-size: 10px;
    }
    #delete_post{
        margin-top: 10%;
    }
    .block_title_post{
        width: 100%;
    }
    .block_title_post label{
        font-size: 17px;
        padding: 3px;
    }
    .block_title_post input{
        font-size: 17px;
        padding: 3px;
    }
    .block_content label{
    margin-top: 9%;
    }


    /* infosAdmin */
    .set_password{
        padding: 0px 5px 5px 5px;
    }
    .infos{
        flex-direction: column;
    }
    .display_infos {
        height: 204px;
    }
    .infos a{
        margin-left: 0;
        width: fit-content;
    }
    #block_set_infos{
        width: 70%;
    }
    .set_infos{
        padding: 10px 11px;
    }
    .set_infos h2{
        font-size: 1.1em;
        text-align: center;
        margin-top: 0;
    }
    .set_infos .form_group{
        flex-direction: column;
        height: 50px
    }
    .set_password h2{
        font-size: 1.1em;
        text-align: center;
    }
    .set_password .form_group{
        flex-direction: column;
        height: 50px;
        margin: auto;
        width: 80%;
    }
    .form_group label{
        margin-bottom: 3%;
        font-size: 0.9em;
    }
    .form_group br{
        display: none;
    }
    .form_group input{
        width: 100%;
    }
    #btn_infosP{
    font-size: 0.9em;
    margin-left: 9%;
    width: 84%;
    }
    #btn_password{
    font-size: 0.9em;
    margin-left: 9%;
    width: 84%;
    }
}
@media all and (min-width: 515px) and (max-width: 810px){
/* --------------------- FRONTEND -------------------------- */
    /*------ accueil ------*/

    /* header  */
    #connect{
        font-size: 13px;
    }
    #connect a{
        height: 27px;
    }
    .title_chapter h1{
        font-size: 1.1em;
    }
    #logo{
        width: 190px;
        height: 190px;
    }
    #feather{
        width: 75px;
    }
    #keyboard{
        margin-left: 87px;
        width: 75px;
    }
    footer p{
    font-size: 0.8em;    
    }

     /*------- postView -------*/

     #form_section p {
        font-size: 1.8em;
        padding: 3%;
    }
    .border_bottom{
        margin : none;
        border: none;
        width: 100%;
    }
    #comment_block{
        margin: auto;
        border-bottom: 1px solid #a4a7a994;
        width: 75%;
        flex-direction: column;
        align-items: baseline;
    }

    .report{
        margin-top: -11px;
        margin-bottom: 10px;
    }
    /* loginAdmin */

    #login_admin form{
        padding: 12px;
    }

    /* ------------------- BACKEND --------------------- */

    /* homeAdmin */
    .block_chapter {
        padding: 5px 0px;
    }
    .title_post{
        font-size: 12px;
        margin-right: 0;
        flex-direction: row;
    }
    .title_post a{
        font-size: 13px;
        margin-left: 0;
        width: 82px;
        margin-left: 7px;
    }
    .btn_modify {
        margin-right: 0px; 
    }
    /* infosAdmin */
    .infos a{
        margin-left: 0;
    }
}
@media all and (min-width: 810px) and (max-width: 900px){
    .title_chapter h1{
        font-size: 1.3em;
    }
    .title_post a{
        font-size: 20px;
        width: 49%;
    }
  } 

  
