body {
    background: white;
    margin: auto;
    font-family: 'Libre Baskerville', serif;

}

header {
    display: -webkit-box;
    display: flex;
    background-color: #1A5276;
    height: 130px;
    text-align: center;
    margin-bottom: -7px;
}

footer {
    border-top: 1px solid grey;
    margin-top: 10%;
    color: grey;
}

footer p {
    text-align: center;
}

/*----------------------------------------- Frontend -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*-----------header-------------*/

.home_return {
    padding-top: 15px;
    padding-left: 19px;
    position: absolute;
    top: 0;
    left: 0;
}

#author_name {
    width: 70%;
    color: #ffffffed;
    margin: auto;
}

#author_name h1 {
    margin: auto;
    font-family: 'Caveat', cursive;
    font-size: 2.7em;
    margin-top: -2%;
}

#author_name h2 {
    margin: auto;
    margin-top: 1%;
    font-family: 'Libre Baskerville', serif;
}

#connect {
    padding: 12px 2px;
    position: absolute;
    top: 13px;
    right: 12px;
}

#connect a {
    text-decoration: none;
    background: white;
    border-radius: 6px;
    display: flex;
    font-size: 0.8em;
    height: 31px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px white;
    padding: 0px 10px;
}

#connect img {
    margin: auto;
    margin-right: 5px;
    height: 20px;
}

#connect p {
    margin: auto;
}

#connect::before,
#connect::after {
    height: 3px;
    width: 29px;
    background: white;
    content: "";
    position: absolute;
}

#connect::before {
    left: 3px;
    top: 3px;
}

#connect::after {
    right: 3px;
    bottom: 0;
}

/*-------------Sections---------------*/

/* -------------section1------------ */
.section_intro {
    margin-top: 37px;
    display: flex;
}

#block_intro {
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

#logo {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid;
    background-color: rgba(0, 0, 0, .9);
    shape-outside: circle();
    margin: 30px;
    border-radius: 50%;
}

#content_intro {

    padding-left: 33px;
}

#content_intro p {
    text-align: justify;
    font-family: 'Caveat', cursive;

}

#feather {
    width: 80px;
    margin-left: 20px;
    background-color: bisque;
    margin-top: 22px;
    padding: 4px;
    border-radius: 30px;
}

#keyboard {
    margin-top: -22px;
    background-color: beige;
    margin-left: 91px;
    padding: 4px;
    border-radius: 31px;
}

.mini {
    color: black;
    width: 71px;
    text-align: end;
    height: 81px;
}

.mini img {
    height: 44px;
}

.mini a {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

.mini a p {
    font-size: 4px;
}

.zoom {
    color: black;
    width: 312px;
    position: absolute;
    background: white;
    right: 0;
    height: 331px;
}

.zoom img {
    height: 244px;
}

.zoom p {
    padding: 5px;
    margin-top: 0;
}

/*------------section2--------------*/

.section_posts {
    padding-top: 34px;
}

#accueil_title {
    margin-left: 40%;
}

.chapter {
    border: 2px solid rgba(234, 247, 246, 0.98);
    background-color: white;
    box-shadow: 0px 0px 24px #9e9e9ea6;
    width: 84%;
    margin: auto;
    margin-top: 5%;
}

.block_title_chapter {
    display: flex;
    border-bottom: 1px solid;
    height: 67px;
}

.title_chapter {
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: bold;
    margin-bottom: 4%;
    width: 27%;
}

.title_chapter h1 {
    text-align: center;
}

.post_date {
    border-left: 1px solid;
    border-right: 1px solid;
    width: 70%;
}

.post_date p {
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

.post_link {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    width: 22%;
    background-color: #1A5276;
}

.post_link:hover {
    background-color: #2E86C1;
}

.post_link a {
    text-decoration: none;
    color: white;
    margin: auto;
}

.content {
    font-family: 'IM Fell Great Primer SC', serif;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}

#block_chapter {
    border-bottom: 1px solid;
    padding: 3% 10% 7% 10%;
}


/*------------section2---------------*/

#form_section {
    margin-top: 5%;
    border-bottom: 1px solid;
    padding: 0% 10% 6% 10%;
}

#form_section p {
    font-size: 2em;
    padding: 3%;
}

.form-group {
    margin-bottom: 2%;

}

.form-group textarea {
    height: 150px;
}

#login {
    margin-left: 33%;
    margin-top: 11px;
}

.form-group {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.form-control {
    margin-top: 8px;
}

#form-pseudo {
    width: 200px;
    padding: 5px;
}

.button {
    width: fit-content;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 67px;
}

#comments {
    background: #80808014;
    padding-top: 32px;
}

#comments_block {
    width: 100%;
}

#comments_block h2 {
    width: fit-content;
    margin-left: 10%;
    padding: 2px;
    background: #8080806e;
}

#comment_block {
    display: flex;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.border_bottom {
    margin: auto;
    border-bottom: 1px solid #a4a7a994;
    width: 75%;
}

.comment {
    border: 2px solid rgba(234, 247, 246, 0.98);
    background-color: white;
    box-shadow: 0px 0px 24px #9e9e9ea6;
}

.title_comment {
    padding: 10px 16px;
    margin: auto;
    background: #e1e3e45e;
    height: fit-content;
}

.title_comment span {
    text-transform: capitalize;
    font-weight: bold;
}

.content_comment {
    padding: 16px 16px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.report {
    background: black;
    box-shadow: 0px 0px 35px white;
    margin-right: 30px;
    border-radius: 2px;
}

.report button {
    color: white;
    font-weight: bold;
}

.line {
    height: 1px;
    background-color: #8c8f9247;
}

/*----------------------------------------- Backend -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*----------header----------*/


.header_left {
    width: 100px;
}

#pseudo {
    margin-left: 3%;
    margin-right: 46%;
}

#pseudo h3 {
    margin-top: 13px;
}

.fa-undo {
    font-size: 30px;
    color: white;
}

.block_create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2%;
    color: white;
}

.block_create_post a {
    color: black;
}

.fa-plus {
    font-size: 40px;
    color: white;
}

.block_btn {
    width: 85px;
    padding-top: 15px;
    padding-right: 15px;
}

.disconnect {
    text-align: end;
}

.disconnect img {
    width: 32px;
}

.disconnect span {
    position: absolute;
    margin-top: -16px;
    margin-left: -97px;
    color: #ffff;
    font-size: 16px;
    background: rgba(0, 0, 0, .9);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -webkit-transform: scale(0) rotate(-12deg);
    transform: scale(0) rotate(-12deg);
    -webkit-transition: all .25s;
    transition: all .25s;
    opacity: 0;
}

.disconnect:hover span,
.disconnect:focus span {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    opacity: 1;
}

.block_btn_infos {
    padding-right: 7px;
    margin-top: 33px;
}

.btn_infos {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.btn_infos i:hover {
    font-size: 32px;
    margin-top: -5px;
    cursor: pointer;
}

.fa-sort-down {
    font-size: 1.6em;
    color: white;
}

.btn_infos a {
    text-decoration: none;
    box-shadow: 0px 0px 2px;
    border: 1px solid grey;
    border-radius: 3px;
    width: max-content;
    margin-top: 25px;
    right: 21px;
    position: absolute;
    color: black;
    background-color: white;
    padding: 14px 10px 20px 12px;
    display: none;
    z-index: 200;
}

#background_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}



/*----------Section---------*/

/* page Login Admin */

#login_admin {
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 4px;
    margin: auto;
    margin-top: 7%;
}

#login_admin h1 {
    margin: auto;
    padding: 11px 12px;
    background: white;
    border-radius: 3px 2px;
    border-radius: 9px 9px 0px 0px;
    border: 3px solid white;
}

#login_admin form {
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 9px 9px;
    padding: 34px;
    border: 3px solid white;
    background-color: #185d8b;
}

#login_admin label {
    width: 113px;
    margin-right: 10px;

}

.block_mail {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.block_pass {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-evenly;
}

#login_admin button {
    width: 115px;
    margin-left: 40%;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    margin-top: 25px;
}

#msg_mail {
    display: none;

}

#msg_pass {
    display: none;
}

.input {
    display: flex;
}

/*  */

#title_book {
    font-family: 'IM Fell Great Primer SC', serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
    color: black;
}

#chapters_list {
    column-count: 2;
    padding: 6% 10%;
    margin: auto;
}

.delete_msg {
    display: none;
    border: 1px solid;
    box-shadow: 0px 0px 6px;
    width: fit-content;
    color: white;
    background-color: rgb(207, 19, 19);
    padding: 4px 20px;
}

.block_chapter {
    display: flex;
    margin-bottom: 20px;
    padding: 5px 18px;
}

.title_post {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.title_post a {
    color: black;
    text-decoration: underline;
    font-size: 20px;
    text-underline-position: under;
    margin-left: 20px;
    width: 135px;
}

.title_post p {
    margin: auto;
    width: 76px;
    border-radius: 10px;
    text-align: center;
}

.btn_modify {
    margin-right: 30px;

}

#write_post {
    margin: 5% 15%;
}

.block_content {
    margin-top: 4%;
}

#delete_post {
    width: fit-content;
    margin-inline-start: auto;
    background: #1a5276;
    padding: 6px 26px;
    box-shadow: 0px 0px 2px;
    margin-top: 5%;
}

#block_comments {
    margin-top: 65px;
    margin-top: 15px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

#block_comments h2 {
    margin-bottom: 49px;
}

.block_comment {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.comment {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.r_infos {
    display: -webkit-box;
    display: flex;
    background-color: #1A5276;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    color: white;
    border-radius: 3px 3px 0px 0px;
}

.chapter_comment {
    margin-left: 3%;
}

.author_comment {
    margin: auto;
}

.nb_reports {
    margin-top: 0px;
    border-radius: 3px;
    width: 40px;
    margin-bottom: auto;
    background-color: #2E86C1;
}

.r_content {
    padding: 1px;
    background-color: #ffffffb8;
    border-radius: 0px 0px 3px 3px;
}



.icon_delete {
    margin-left: 28px;
    display: -webkit-box;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.icon_delete {
    display: block;
}


.icon_delete span {
    position: absolute;
    margin-top: -20px;
    margin-left: -13px;
    color: #ffff;
    font-size: 16px;
    background: rgba(0, 0, 0, .9);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -webkit-transform: scale(0) rotate(-12deg);
    transform: scale(0) rotate(-12deg);
    -webkit-transition: all .25s;
    transition: all .25s;
    opacity: 0;
}

.icon_delete:hover span,
.icon_delete:focus span {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    opacity: 1;


}

.delete {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 2px;
    background-color: #d01313;
    border-radius: 4px;
    border: 1px solid;
    width: 74px;
    height: 17px;
}

.delete p {
    margin-top: auto;
}

.fa-backspace {
    color: #d01313;

}

/* ---------------- postAdmin ------------------- */
.block_title {
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 7px;
}

.block_title label {
    font-size: 25px;
    width: 100px;
    color: white;
    text-align: center;
    padding: auto;
    background-color: #185d8b;
}

.block_title input {
    padding: 7px;
    background-color: #1a52760a;
    font-size: 20px;
    border: none;
    width: 100%;
}

.block_content {
    margin-top: 4%;
}

.block_content label {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    display: block;
}

.input_bottom input {
    background: #1a5276;
    border: none;
    padding: 6px 26px;
    color: white;
    box-shadow: 0px 0px 3px #8080808a;
    border-radius: 2px;
}

#add_post {
    margin-inline-start: auto;
    margin-top: 10px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.8em;
}

#delete_post a {
    text-decoration: none;
}

#delete_post span {
    color: white;
}


/* ---------------- postAdminView ---------------- */

#post_block {
    margin: auto;
    width: 90%;
    margin-top: 6%;
}

#post_block {
    line-height: 27px;
}

#form_block {
    border: 2px solid white;
    width: 85%;
    padding: 3%;
    background: #1a5276;
    color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 7px;

}

/* ---------------- infos persos ----------------- */


.block_infos {
    padding-left: 100px;
}

.infos_mdp {
    margin-top: 50px;
}

.infos {
    display: flex;
    margin-bottom: 40px;
}

.infos a {
    margin-left: 19%;
    margin-top: 10%;
    height: fit-content;
    background: #1a5276;
    border-radius: 3px;

}

.display_infos {
    width: 240px;
    height: 235px;
    display: flex;
    flex-direction: column;
}

.display_infos p:first-child {
    margin-top: 16%;
}

/* modifier infos */

.btn_display_infos {
    height: fit-content;
    margin: auto;
    padding: 5px 6px;
    color: white;
    font-weight: 600;
}

#block_set_infos {
    z-index: 200;
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.set_infos {
    background-color: #cbd4da;
    color: black;
    border: 3px solid hsla(0, 6%, 97%, 0.9);
    padding: 10px 32px 30px 32px;
    width: fit-content;
    box-shadow: 0px 0px 10px black;
}

.form_group {
    display: flex;
    margin-top: 13px;
    align-items: baseline;
}

.label_form {
    width: 133px;
}

#btn_infosP {
    padding: 5px 8px;
    width: -webkit-fill-available;
    margin-top: 24px;
    cursor: pointer;
    font-size: 15px
}

.form_group input {
    border: 2px solid white;
    border-radius: 3px;
    background: rgba(247, 248, 250, 0.81);
    box-shadow: 0 0 1px white;
}

#msg_errors_infos {
    display: none;
    margin-bottom: 5%;
    padding: 3% 9%;
    font-size: 18px;
    color: #880909;
    z-index: 200;
    background-color: #ffff;
}

/* modifier mot de passe */

.btn_display_password {
    padding: 5px 8px;
    height: fit-content;
    margin: auto;
    background: #1a5276;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

.background_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: black;
    opacity: 0.7;
    display: none;
}

#block_set_password {
    z-index: 200;
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.set_password {
    background-color: #cbd4da;
    color: black;
    border: 3px solid hsla(0, 6%, 97%, 0.9);
    padding: 10px 32px 30px 32px;
    width: fit-content;
    box-shadow: 0px 0px 10px black;
}

.set_password .label_form {
    width: 219px;
}

#btn_password {
    padding: 5px 8px;
    width: -webkit-fill-available;
    margin-top: 24px;
    font-size: 15px
}

#msg_errors_password {
    display: none;
    background-color: #ffff;
    margin-bottom: 5%;
    padding: 3% 9%;
    font-size: 18px;
    color: #880909;
    z-index: 200;
}