
header{
    display: flex;
}

body{
    background: rgb(169, 169, 233);
}

/*----------------------------------------- Frontend -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.form-group {
    display: flex;
    flex-direction: column;
}
#form-pseudo {
    width: 200px;
}

.button {
    width: 100px;
}


/*----------------------------------------- Backend -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

#create_Admin{
    margin-left: 72%;
    margin-top: 11px;
}



